/* Navbar.css */

/* 调整整个导航栏的背景色和字体 */
.bg-body-tertiary {
    background-color: dimgray !important; /* 浅灰色背景 */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* 设置字体 */
  }
  
  /* 导航链接的样式 */
  .nav-link, .navbar-brand, .navbar-text a {
    color: white !important; /* 蓝色字体 */
  }
  
  .nav-link:hover, .navbar-brand:hover, .navbar-text a:hover {
    color: #0056b3 !important; /* 深蓝色字体 */
  }
  
  /* Dropdown右对齐 */
  .nav-dropdown .dropdown-menu {
    right: 0; /* 将下拉菜单向右对齐 */
    left: auto; /* 确保左侧不会固定位置 */
    background-color: orangered; /* 浅灰色背景 */
  }
  
  /* 调整Navbar.Text和Dropdown之间的间距 */
  .nav-dropdown {
    margin-right: 10px; /* 右边间隔 */
  }
  
  /* 如果Navbar.Text没有足够空间，可以这样调整 */
  .navbar-text {
    margin-left: 10px; /* 在Navbar.Text左侧添加间隔 */
  }

  /* Logo图片的样式 */
  .navbar-logo {
    max-height: 30px; /* Logo图片的最大高度 */
    margin-right: 10px; /* 与文本的间距 */
  }
  
  /* 调整Navbar.Brand中的文本样式 */
  .navbar-brand span {
    font-weight: bold; /* 文本加粗 */
    font-size: 20px; /* 文本大小 */
    color:black;

  }
  
  /* 调整右侧文本样式 */
  .navbar-text a {
    font-weight: normal;
    text-decoration: underline; /* 添加下划线 */
  }
  
