/* 主体背景及边距 */
.main {
    background-color: white;
    margin: 30px;
}

/* 标签悬浮效果 */
.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

/* 标签基础样式 */
.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

/* 发布按钮风格 */
.btn-publish {
    float: right;
    margin-bottom: 15px;
}

/* 标签选择区隐藏样式 */
.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

/* 控制主体内容的最大宽度并居中显示 */
.main-content {
    max-width: 1320px; /* 或根据您的设计需求调整 */
    margin: auto;
    padding: 0 15px; /* 添加一些内边距 */
  }
  
