.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.active {
  color: red; /* 活动链接的颜色 */
  text-decoration: none; /* 可以去掉下划线 */
}


/* 列表样式 */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* 中心对齐 */
  align-items: center;
}

.navbar-logo {
  max-height: 25px; /* 或任何适合你Navbar高度的值 */
  width: auto; /* 保持图片原始宽高比 */
}

.adjustHeight{
  max-height: 25px; /* 或任何适合你Navbar高度的值 */
  width: auto; /* 保持图片原始宽高比 */
}


